<!--<pre style="height: 400px;">
  {{tutor | json}}
</pre>-->
<div class="container-fluid" id="tutor">
  <div class="container">
    <div class='row'>
      <div class='col-md-8'>
        <div class="box">
          <div class="body">
            <div class="col-xs-12 no-padding profile-container">
              <div class="profile-image col-xs-12 col-md-4 no-padding">
                <img img-fallback ng-src="https://s3.amazonaws.com/goorooprofileimages/{{tutor._images[0].refId}}" class="profile center-block"
                  onerror="this.src='public/assets/img/default-photo.jpg'">
              </div>
              <div class="info col-xs-12 col-md-8 no-padding">
                <div class="name-line no-padding">
                  <div class="name">
                    {{tutor.name.first}} {{tutor.name.last| limitTo: 1}}. {{tutor.lowestPrice}}
                  </div>

                  <gooroo-rating class="stars no-padding" rating="{{tutor.reviews.avg}}"></gooroo-rating>

                  <div ng-if="tutor.reviews.received.length || tutor.reviews.uncomment.length" class="comment-number">({{tutor.reviews.received.length + tutor.reviews.uncomment.length}})</div>
                </div>


                <div class="col-xs-12 no-padding">

                  <!-- school and degree -->
                  <div class="col-xs-12 no-padding icon-line">
                    <div class="icon-area">
                      <img src="public/assets/img/tutor-profile/school.svg">
                    </div>
                    <div class="text-wrapper">
                      <div class="icon-text">
                        {{tutor.degree.school}}
                        <span ng-if="tutor.degree"> '</span>{{tutor.degree.year| limitTo:2:2}}
                      </div>
                      <div class="degree-info">
                        -{{degress[tutor.degree.type]}} {{tutor.degree.major}}
                      </div>
                    </div>

                  </div>

                  <!-- hours taught -->
                  <div class="col-xs-12 no-padding icon-line">
                    <div class="icon-area">
                      <img src="public/assets/img/tutor-profile/hours-taught.svg">
                    </div>
                    <div class="icon-text">
                      <span>{{tutor.goorooing.tutorTotalHours | taughtHours}}</span> hours taught
                    </div>
                  </div>

                  <!-- certificate -->
                  <div ng-if="tutor.verification.certificateVerification" class="col-xs-12 no-padding icon-line">
                    <div class="icon-area">
                      <img src="public/assets/img/tutor-profile/certificate.svg">
                    </div>
                    <div class="icon-text">Certified Tutor</div>
                  </div>

                  <!-- background check -->
                  <div ng-if="tutor.verification.backgroundVerification" class="col-xs-12 no-padding icon-line">
                    <div class="icon-area">
                      <img src="public/assets/img/tutor-profile/background-check.svg">
                    </div>
                    <div class="icon-text">Background check passed</div>
                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-12 col-xs-12 hline no-padding">
              <div class="border"></div>
            </div>
            <div class="col-md-12 no-padding bio">
              <h2>
                About {{tutor.name.first}}
              </h2>
              <div class="text">
                {{tutor.description}}
              </div>
              <div class="video" ng-if="video.sources.length">
                <videogular vg-theme="video.theme.url">
                  <vg-media vg-src="video.sources" vg-native-controls="true">
                  </vg-media>
                </videogular>
              </div>
            </div>
          </div>
        </div>
        <div class="box schedule">
          <div class="body">
            <h2>
              Schedule
            </h2>
            <div class="table-responsive table-wrapper">
              <table class="table table-bordered">
                <thead>
                  <tr class="header-weeks">
                    <th class="no-border-left no-border-bottom no-border-right"></th>
                    <th class="no-border-bottom">MON</th>
                    <th class="no-border-bottom">TUE</th>
                    <th class="no-border-bottom">WED</th>
                    <th class="no-border-bottom">THU</th>
                    <th class="no-border-bottom">FRI</th>
                    <th class="no-border-bottom">SAT</th>
                    <th class="no-border-bottom no-border-right">SUN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="no-border-left no-border-top no-border-right">Morning (6am - 12 pm)</td>
                    <td class="no-border-top" ng-repeat="i in getNumber(tutor.availability.length) track by $index" ng-class="{'no-border-right' : $index === tutor.availability.length - 1}">
                      <img ng-src="{{tutor.availability[$index][0] ? 'public/assets/img/icon-check2.svg' : 'public/assets/img/icon_x.svg'}}">
                    </td>
                  </tr>
                  <tr>
                    <td class="no-border-left no-border-right">Afternoon (12pm - 6pm)</td>
                    <td ng-repeat="i in getNumber(tutor.availability.length) track by $index" ng-class="{'no-border-right' : $index === tutor.availability.length - 1}">
                      <img ng-src="{{tutor.availability[$index][1] ? 'public/assets/img/icon-check2.svg' : 'public/assets/img/icon_x.svg'}}">
                    </td>
                  </tr>
                  <tr>
                    <td class="no-border-left no-border-right no-border-bottom">Evening After (6pm-12am)</td>
                    <td class="no-border-bottom" ng-repeat="i in getNumber(tutor.availability.length) track by $index" ng-class="{'no-border-right' : $index === tutor.availability.length - 1}">
                      <img ng-src="{{tutor.availability[$index][2] ? 'public/assets/img/icon-check2.svg' : 'public/assets/img/icon_x.svg'}}">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="box subjects-list">
          <div class="body">
            <h2>
              Tutoring Subjects
            </h2>
            <ul class="dynamic-grid main" ag-grid="subjs" ag-grid-no="2" ag-grid-width="250" ag-gutter-size="10" angular-grid-id="gallery"
              ag-refresh-on-img-load="false">
              <li ng-repeat="(paren, children) in subjs" class="block col-md-6 level1 no-padding clearfix grid">
                <div class="wrapper">
                  <h3>{{paren}}</h3>
                  <ul>
                    <li ng-repeat="child in children" class="topic">
                      {{child}}
                      <span ng-show="!$last">/</span>
                    </li>
                  </ul>
                  <button class="btn btn-gooroo" ng-click="openPricing(paren)">Booking & Pricing</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="box reviews">
          <div class="body">
            <h2 id="reviews">
              Reviews
              <gooroo-rating class="rating-stars" rating="{{tutor.reviews.avg}}"></gooroo-rating>
              <span ng-if="tutor.reviews.received.length" class="review-number">({{tutor.reviews.total}})</span>
            </h2>
            <!--            <div class="stars">
              {{tutor.reviews.avg}}
              <star-rating ng-model="tutor.reviews.avg" readonly="true"></star-rating>
              <span ng-if="tutor.reviews.received.length">({{tutor.reviews.received.length}})</span>
            </div>-->
            <ul class="no-padding">
              <!-- can also filter when comment is empty | filter:{comment : ''} -->
              <li ng-repeat="review in reviews| limitTo: reviewsLimit | orderBy:'created.timestamp':true" class='item no-padding' ng-class="{'no-border-bottom' : $last}"
                ng-init="subjectName = findSubject(review.subject)">
                <div class="image col-md-1 col-xs-3 no-padding">
                  <img img-fallback ng-src="https://s3.amazonaws.com/goorooprofileimages/{{review.author.images[0].refId}}" class="profile">
                </div>
                <div class="details col-md-10 col-xs-9">
                  <div class="name">
                    {{review.author.name.first}}
                  </div>
                  <div>
                    <span class="subj-time">-{{subjectName}}  {{review.created.timestamp| date:'LLLL dd, yyyy'}}</span>
                  </div>
                  <div class='review-text'>
                    &nbsp;{{review.comment}}
                  </div>
                </div>
              </li>
              <li class="load-more">
                <button class="btn btn-gooroo" ng-click="loadMoreReviews()" ng-show="reviews.length > reviewsLimit">SHOW MORE REVIEWS</button>
              </li>
              <li class="load-more text-center empty" ng-if="!tutor.populatedReviews.length">
                <img src='public/assets/img/ic-outline-star.svg'>
                <h3>
                  No reviews yet!
                </h3>
                Be the first one to write the review by <br> requesting a session with a Gooroo.
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class='col-md-4 side'>
        <div class="box">
          <div class="head" ng-init="prices = extractLowHigh(tutor.subjects, user)">
            <span ng-if="prices.low === prices.high">
              ${{prices.low}}  <small> Per hour</small>
            </span>
            <span ng-if="prices.low !== prices.high">
              ${{prices.low}}-{{prices.high}} <small> Per hour</small>
            </span>
          </div>
          <div class="sidebody">
            <!--
            <div class="col-md-12 no-padding underline">
              <div class="col-md-6 no-padding">
                <img src='public/assets/img/icon-person2.svg'> In person
              </div>
              <div class="col-md-6 no-padding">
                <img src='public/assets/img/icon-virtual2.svg'> Virtual <img src='public/assets/img/icon-hangout.svg' class="icon-margin-left-13"> <img src='public/assets/img/icon-skype.svg'>
              </div>
            </div>
            -->
            <div class="col-md-12 no-padding package">
              <h2>
                Package Deal
              </h2>
              <div class="text">
                <img src='public/assets/img/icon-pig.svg' class="pig"> Get cash back discounts when you book multiple sessions
                at once with the same Gooroo.
                <a href="#" uib-popover-template="'public/views/tooltips/packageDeals.html'" popover-title="Learn For Less" popover-placement="bottom"
                  popover-append-to-body="true" popover-trigger="'mouseenter'" class="detail-link"> Details</a>
              </div>
              <div class="small-text">
                See more options when booking sessions
              </div>
            </div>
            <div class="col-md-12 no-padding">
              <button class="btn btn-gooroo form-control" ui-sref="request({id: tutor.id, subjectId: subject})">Request Session</button>
              <button class="btn btn-gooroo-empty-black no-radius form-control margin-10-top" ng-click="addRemoveBookmark(tutor.id)" ng-init="imgsrc = 'public/assets/img/icon-heart.svg'"
                ng-mouseover="imgsrc = 'public/assets/img/icon-heart-red.svg'" ng-mouseout="imgsrc='public/assets/img/icon-heart.svg'">
                <img src="{{imgsrc}}" class="heart-icon" ng-if="!isBookmarkExist(tutor.id)">
                <img src="public/assets/img/icon-heart-red.svg" class="" ng-if="isBookmarkExist(tutor.id)">
                Bookmark this tutor
              </button>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="sidebody contact">
            <div class="col-md-12 no-padding font-16 margin-10-bottom">
              Send a message to {{tutor.name.first}} explaining your questions and needs, and get a reply soon.
            </div>
            <div class="col-md-12 no-padding">
              <button class="btn btn-gooroo-empty no-radius form-control margin-10-bottom" ng-hide="showMessage" ng-click="showMessage = !showMessage; checkLoggedIn(user._id)">
                Message {{tutor.name.first}}
              </button>
              <form novalidate id="msgForm" name="msgForm" ng-submit="sendMessage()" ng-model="msgForm" ng-show="showMessage && user._id"
                class="fade-animation">
                <input type="text" class="form-control" placeholder="Subject" ng-model="msg.subject" name="subject" id="subject" required>
                <textarea rows="4" class="body form-control" placeholder="e.g. I need help with my math exam coming up in 2 weeks. Would you be able to meet at least 3 times before then?"
                  ng-model="msg.body" name="subject" id="body" required></textarea>
                <div class="attach">
                  <!-- <a ng-click="forgotPasswordModal()">
                    <img src="public/assets/img/icon-paperclip.svg"/>
                    Add attachments?</a>
                  -->
                </div>

                <button class="btn btn-gooroo form-control" ng-disabled="msgForm.$invalid">Send message
                </button>
              </form>
              <!--              <div ng-show="showMessage && !user._id" class="fade-animation">
                              <button class="btn btn-gooroo" ui-sref="login">Log In</button>
                            </div>-->

            </div>
          </div>
        </div>
        <!--        <div class="box">
                  <div class="body bookmark">
                    <div class="col-md-12 no-padding">
                      <button class="btn btn-grey no-radius form-control" ng-click="addRemoveBookmark(tutor.id)">
                        <img src="public/assets/img/icon-heart.svg" class="heart" ng-if="!isBookmarkExist(tutor.id)">
                        <img src="public/assets/img/icon-heart-red.svg" class="heart" ng-if="isBookmarkExist(tutor.id)">
                        Bookmark this tutor
                      </button>
                    </div>
                    <div  class="col-md-12 no-padding font-16 text">
                      Share this tutor with your friends.
                    </div>
                                <div class="col-md-6 no-padding-left">
                                  <button class="btn btn-grey no-radius form-control"><img src='public/assets/img/icon-email.svg'> Email</button>
                                </div>
                                <div class="col-md-6 no-padding-right">
                                  <button class="btn btn-grey no-radius form-control"><img src='public/assets/img/icon-share.svg'> Share</button>
                                </div>
                  </div>
                </div>-->
      </div>
    </div>
  </div>
</div>
